VITE_INSTAGRAM_URL="https://www.instagram.com/seu_perfil/"
VITE_WHATSAPP_URL="https://wa.me/SEU_NUMERO"
VITE_GOOGLE_MAPS_URL="https://maps.app.goo.gl/SEU_LINK"
VITE_GOOGLE_MAPS_EMBED_URL="https://www.google.com/maps/embed?pb=SEU_EMBED_CODE"
